{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ tip.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="/api/tips/{{tip.id}}">{{ tip.title }}</a>
        </h1>
        {{ tip.body | markdown }}
        <div>
          <a href="/api/tips/{{ tip.id }}/edit">Edit</a>
          <a href="/api/tips/{{ tip.id }}/delete">Delete</a>
        </div>
    </div>
</div>
{% endmacro %}
